################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/PCStore.Web.Core/appsettings.json
/PCStore.Web.Core/appsettings.Development.json
